<div class="submit-form">
  <div class="form-group">
    <label for="title">Title*</label>
    <input
      type="text"
      class="form-control"
      id="title"
      required
      [(ngModel)]="article.title"
      name="title"
    />
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      id="content"
      [(ngModel)]="article.content"
      name="content"
      rows="10"
    ></textarea>
  </div>

  <button (click)="submit()" class="btn btn-success">Add</button>
</div>
